.editor-preview-box {
  display: flex;
  background-color: rgb(222, 219, 219);
}

.bold-text {
  font-weight: bold;
  color: red;
}
//font-style
.normal-text {
  font-weight: normal;
}
.italic-text {
  font-style: italic;
}
